@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom fonts */
@font-face {
  font-family: 'GT Maru Regular';
  src: url('/fonts/GT-Maru/GT-Maru-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT Maru Bold Oblique';
  src: url('/fonts/GT-Maru/GT-Maru-Bold-Oblique-Trial.otf') format('opentype');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Maru Medium Italic';
  src: url('/fonts/GT-Maru/GT-Maru-Medium-Oblique-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'GT Maru Medium Oblique';
  src: url('/fonts/GT-Maru/GT-Maru-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT Maru Mega Mini';
  src: url('/fonts/GT-Maru/GT-Maru-Mega-Mini-Trial.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT Maru Light';
  src: url('/fonts/GT-Maru/GT-Maru-Light-Trial.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Define Tailwind CSS utility classes for font styles */
.font-regular {
  font-family: 'GT Maru Regular';
  font-weight: 400;
  font-style: normal;
}

.font-bold-oblique {
  font-family: 'GT Maru Bold Oblique';
  font-weight: 700;
  font-style: oblique;
}

.font-medium-italic {
  font-family: 'GT Maru Medium Italic';
  font-weight: 500;
  font-style: italic;
}

.font-medium-oblique {
  font-family: 'GT Maru Medium Oblique';
  font-weight: 500;
  font-style: oblique;
}

.font-mega-mini {
  font-family: 'GT Maru Mega Mini';
  font-weight: 900;
  font-style: normal;
}

.font-light {
  font-family: 'GT Maru Light';
  font-weight: 300;
  font-style: normal;
}
.perspective-1000 {
  perspective: 1000px;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}